<div class="main-hero">
  <picture>
    <source
      srcset="/Assets/Images/mobile_banner.png"
      media="(max-width:768px)"
    />
    <source
      srcset="/Assets/Images/desktop_banner.png"
      media="(min-width:768px)"
    />
    <img src="/Assets/Images/desktop_banner.png" alt="banner" />
  </picture>
  <div class="hero-wrapper container">
    <div class="intro-btn">
      <h1>تپسی</h1>
      <h2>اپلیکیشن درخواست خودرو</h2>
      <div class="intro-wrapper">
        <div class="intro-btn__passenger">دانلود اپلیکیشن مسافران</div>
        <div class="intro-btn__passenger">وب اپلیکیشن مسافران</div>
        <div class="intro-btn__passenger passenger--dark">
          دانلود اپلیکیشن رانندگان
        </div>
        <div class="intro-btn__passenger passenger--dark">
          <span class="passenger--icon"><i class="fa-solid fa-car"></i></span>
          <p>ثبت نام رانندگان</p>
        </div>
      </div>
    </div>
  </div>
</div>
