<section class="block-plan container">
  <!-- PlanA -->
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <div class="plan__introduction">
          <span class="plan__name">عادی</span>
          <span class="badge badge--secendary">10% OFF</span>
        </div>
        <span class="plan__price">290,000</span>
        <span class="plan__billing-cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های معمولی</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__items">کیفیت افتضاح</li>
          <li class="list__items">چهار تا چرخ داره</li>
          <li class="list__items">راننده چل و بی اعصاب</li>
        </ul>
        <button class="btn btn--secendary btn--block">ثبت سفارش</button>
      </div>
    </div>
  </div>
  <!-- PlanB -->
  <div class="plan plan--primary">
    <div class="card card--primary">
      <header class="card__header">
        <div class="plan__introduction">
          <span class="plan__name">اقتصادی</span>
          <span class="badge badge--primary">15% OFF</span>
        </div>
        <span class="plan__price">390,000</span>
        <span class="plan__billing-cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های کلاسیک</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__items">کیفیت عالی</li>
          <li class="list__items">کم سر و صدا</li>
          <li class="list__items">سرویس روزانه</li>
        </ul>
        <button class="btn btn--primary btn--block">ثبت سفارش</button>
      </div>
    </div>
  </div>
  <!-- PlanC -->
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <div class="plan__introduction">
          <span class="plan__name">ویژه</span>
          <span class="badge badge--secendary">20% OFF</span>
        </div>
        <span class="plan__price">490,000</span>
        <span class="plan__billing-cycle">ماهانه/تومان</span>
        <span class="plan__description">سرویس ماشین های مدل بالا</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__items">کیفیت خیلی خفن</li>
          <li class="list__items">بی سر و صدا</li>
          <li class="list__items">سرویس روزانه</li>
        </ul>
        <button class="btn btn--secendary btn--block">ثبت سفارش</button>
      </div>
    </div>
  </div>
</section>
