<section class="services container">
  <div class="services__tabs">
    <div class="services__tab">
      <img src="/Assets/Images/cars/cc-classic.png" alt="" />
      <p>کلاسیک</p>
    </div>
    <div class="services__tab">
      <img src="/Assets/Images/cars/cc-wait-and-share.webp" alt="" />
      <p>باهم سفر</p>
    </div>
    <div class="services__tab">
      <img src="/Assets/Images/cars/cc-delivery.webp" alt="" />
      <p>ارسال بسته</p>
    </div>
    <div class="services__tab">
      <img src="/Assets/Images/cars/cc-tel.webp" alt="" />
      <p>تلفنی</p>
    </div>
    <div class="services__tab">
      <img src="/Assets/Images/cars/cc-plus.webp" alt="" />
      <p>پلاس</p>
    </div>
    <div class="services__tab">
      <img src="/Assets/Images/cars/cc-intercity.webp" alt="" />
      <p>بین شهری</p>
    </div>
  </div>
  <!-- new component! -->
  <div class="tab container tab-content active">
    <div class="tab__container">
      <img
        class="tab__images"
        src="/Assets/Images/services/illus-classic.webp"
        alt=""
      />
      <div class="tab-details">
        <h2 class="details__title">تپسی کلاسیک</h2>
        <p class="details__text">
          با سرویس تپسی کلاسیک، سریع، آسان و به‌صرفه به مقصد برسید. دراین سرویس
          می‌توانید به دو یا چند مقصد سفر کنید.
        </p>
      </div>
    </div>
  </div>
  <!-- space -->
  <div class="tab container tab-content">
    <div class="tab__container">
      <img
        class="tab__images"
        src="/Assets/Images/services/illus-wait-and-share.webp"
        alt=""
      />
      <div class="tab-details">
        <h2 class="details__title">با همسفر</h2>
        <p class="details__text">
          در سرویس باهمسفر تپسی، با یک مسافر دیگر هم مسیر می شوید. هزینه سفر شما
          با این سرویس ٪۳۵ به صرفه‌تر از سفر کلاسیک است.
        </p>
      </div>
    </div>
  </div>
  <!-- space -->
  <div class="tab container tab-content">
    <div class="tab__container">
      <div class="image-container"></div>
      <img
        class="tab__images"
        src="/Assets/Images/services/illus-delivery.webp"
        alt=""
      />

      <div class="tab-details">
        <h2 class="details__title">ارسال بسته</h2>
        <p class="details__text">
          شما می‌توانید با استفاده از سرویس ارسال بسته تپسی مرسولات خود را با
          موتوپیک(بسته کوچک) یا اتوپیک (بسته بزرگ) ارسال کنید.
        </p>
      </div>
    </div>
  </div>
  <!-- space -->
  <div class="tab container tab-content">
    <div class="tab__container">
      <img
        class="tab__images"
        src="/Assets/Images/services/illus-tel.webp"
        alt=""
      />
      <div class="tab-details">
        <h2 class="details__title">تپسی تلفنی</h2>
        <p class="details__text">
          سرویس تپسی تلفنی یا ۱۶۳۰، این امکان را به شما می‌دهد که بدون نیاز به
          اینترنت و اپلیکیشن، درخواست خودرو بدهید.کافیست با شماره ۱۶۳۰ تماس
          بگیرید.
        </p>
      </div>
    </div>
  </div>
  <!-- space -->
  <div class="tab container tab-content">
    <div class="tab__container">
      <img
        class="tab__images"
        src="/Assets/Images/services/illus-plus.webp"
        alt=""
      />

      <div class="tab-details">
        <h2 class="details__title">تپسی پلاس</h2>
        <p class="details__text">
          سرویس تپسی پلاس با ماشین‌های مدل بالاتر و کارکرد کمتر ارائه می‌شود. در
          این سرویس امکان تعیین چند مقصد و توقف در مسیر وجود دارد.
        </p>
      </div>
    </div>
  </div>
  <div class="tab container tab-content">
    <div class="tab__container">
      <img
        class="tab__images"
        src="/Assets/Images/services/illus-intercity.webp"
        alt=""
      />
      <div class="tab-details">
        <h2 class="details__title">بین شهری</h2>
        <p class="details__text">
          با تاکسی اینترنتی بین شهری تپسی می‌توانید با قیمت مناسب و امنیت بالا
          به شهرهای دور و نزدیک سفر کنید.
        </p>
      </div>
    </div>
  </div>
</section>
<script src="/js/main.js"></script>
